# INSTALL LIBRARY
- pip install pymongo
- pip install pandas

In [17]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.0.0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

# IMPORT LIBRARY

In [19]:
import pymongo
import pandas as pd

# CREATE CONNECTION

In [20]:
# MongoDB connection parameters
mongo_params = {
    'host': 'localhost',
    'port': 27017,
    'username': 'root',
    'password': 'p455w0rd'
}

# Connect to MongoDB server with authentication
client = pymongo.MongoClient(host=mongo_params['host'],
                             port=mongo_params['port'],
                             username=mongo_params['username'],
                             password=mongo_params['password'])

print("MongoDB connection successful")

MongoDB connection successful

# CREATE DATABASE

In [21]:
db_name = 'bhs_pemrograman'
db = client[db_name]

print(f"Database '{db_name}' created successfully")

Database 'bhs_pemrograman' created successfully

# CREATE COLLECTIONS

In [22]:
collection_name = 'pert9'

# Create a new collection
collection = db[collection_name]

print(f"Collection '{collection_name}' created successfully")

Collection 'pert9' created successfully

# INSERT DATA

In [23]:
mongo_params = {
    'host': 'localhost',
    'port': 27017,
    'username': 'root',
    'password': 'p455w0rd',
    'database': 'bhs_pemrograman',
    'collection': 'pert9'
}

# Connect to MongoDB server with authentication
client = pymongo.MongoClient(host=mongo_params['host'],
                             port=mongo_params['port'],
                             username=mongo_params['username'],
                             password=mongo_params['password'])

# Select the database and collection
db = client[mongo_params['database']]
collection = db[mongo_params['collection']]

# Data to insert
data = {'name': 'Ani', 'age': 20}

# Insert a single document
collection.insert_one(data)

print("Data inserted successfully")

Data inserted successfully

# INSERT MULTI

In [24]:
data_to_insert = [
    {'name': 'Budi', 'age': 21},
    {'name': 'Caca', 'age': 19}
]
collection.insert_many(data_to_insert)
print("Data inserted successfully")

Data inserted successfully

# QUERY DATA

In [25]:
cursor = collection.find()
df = pd.DataFrame(list(cursor))
print("Data retrieved successfully")
display(df)

Data retrieved successfully

                        _id  name  age
0  66791b1ec2dd93d62bb91077   Ani   20
1  66791b1ec2dd93d62bb91078  Budi   21
2  66791b1ec2dd93d62bb91079  Caca   19

# CLOSE CONNECTION

In [26]:
client.close()
print("MongoDB connection is closed")

MongoDB connection is closed